
{% extends 'layout.html' %}

{% block body %}

    <h1>About us</h1>
<h2>This is an open platform to READ ! WRITE ! PUBLISH! SHARE !</h2>
<p>Reading is one of the most important and beneficial activities. If you have ever read a book in life you will know the pleasure and rewards of reading. Reading is the kind of exercise that keeps your mind engaged, active and healthy. It is important to develop the habit of reading not only for the sake of knowledge but also for personal growth and development.</p>

<br>
<p>
    Writing is intimidating. There’s this expectation of artful precision, mercurial grammatical rules, and the weird angst that comes with writing for other people. You start with a tidy nugget of an idea, but as you try to string it into language, it feels more like you’re pulling out your own intestines.
    But you’re not a writer, so this isn’t your problem, right? Well, the thing is, writing is not some mystic art. It’s a practical skill—particularly since most of our online communication is text-based to begin with. When you write about your work, it makes all of us smarter for the effort, including you—because it forces you to go beyond the polite cocktail-party line you use to describe what you do and really think about the impact your work has.

</p>

{% endblock %}