
{% extends 'layout.html' %}

{% block body %}
<h1>Profile</h1>
<h2>I am, Tharun kumar  developer of this website</h2>
<img src="{{url_for('static', filename='mypic.jpg') }} " width="200" height="200" />

<p><h6>I'm a passionate individual, and very interested to always learn new things and make myself better everyday!</h6> </p>
<br>
<table>
    <tr><h6>Date of Birth  : 13 September 1996</h6></tr>
    <tr><h6>Email          : kumartharun961@gmail.com</h6></tr>
    <tr><h6>Address        : Hyderabad</h6></tr>
    <tr><h6>Phone          : +91-9959007273</h6></tr>
    <br>
    <a href="https://tharunkumar.netlify.com/">To know more about me click here!</a>

</table>

<br>
<p>

</p>

{% endblock %}